<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>my-bicycles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item *ngFor="let b of bicycles">
        <ion-label>
          <h1>{{b.brand}}</h1>
          <p>{{b.model}}</p>
          <ion-buttons slot="end">
            <ion-button (click)="goToEditBicycle(b.id)">Editar</ion-button>
            <ion-button (click)="deleteBicycle(b.id)">Borrar</ion-button>
          </ion-buttons>
        </ion-label>
      </ion-item>
      <ion-button expand="block" color="primary" (click)="goToAddBicycle()">
        Agregar bicicleta
      </ion-button>
      <ion-button expand="block" color="primary" (click)="goHome()">
        Regresar
      </ion-button>
    </ion-list>
</ion-content>

<!--
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">my-bicycles</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
-->